.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* gap: 8px; */
    /* border: 1px solid black; */
    background-color:beige;
}
    
.div1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    grid-column: span 3 / span 3;
    /* border: 1px solid black; */
    justify-content: space-between;
    background-color: orange;
    align-items: center;

}

.div1-1 {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.div2 {


    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    /* border: 1px solid black; */



    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.div2 h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
}

.div2 p{
    margin-top: 0;
}

.div3 {
    margin-top: 50px;
    margin-bottom: 10px;
    grid-column: span 3 / span 3;
    grid-row-start: 5;
    /* border: 1px solid black; */

    /* display: flex;
    flex-direction: column;
    height: 150px; */

    background-color:ivory;
}

.div3 h3{
    margin-left: 10px;
}

.div4 {
    grid-column: span 3 / span 3;
    grid-row-start: 6;
    /* border: 1px solid black; */
    display: flex;
    text-align: center;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: antiquewhite;
}
        